In [4]:
import pandas as pd
import numpy as np

In [8]:
df = pd.DataFrame(np.random.randn(3, 3),columns=['a','b','c'])
df

          a         b         c
0  0.309807  1.808702 -0.368536
1 -0.213972 -1.249660  1.252231
2 -0.020248  1.180249  1.121899

In [14]:
df[['a','b','c']].apply(lambda x: np.dot(x,np.array([1,2,3])),axis=1)

0    2.821604
1    1.043400
2    5.705947
dtype: float64